:root {
    --main-back: #f8edeb;
    --text-brown: #6d597a;
    --text-brown-hover: #540b0e;
    --red-button: #e56b6f;;
    --red-button-hover: #d90429;
}

body {
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
    background: var(--main-back);
    color: var(--text-brown);
}

/****** Navbar ******/

.navbar-nav a {
    color: var(--text-brown);
    font-weight: 500;
}

.navbar {
    padding: 40px 20px;
    border-bottom: 2px solid var(--red-button);
}

#navbarNavDropdown {
    padding-top: 2rem;
}

.nav-cart-main {
    display: none;
}

.nav-cart-collapse {
    display: block;
}

.nav-item a {
    padding: 8px 14px;
}

.nav-item a:hover {
    color: var(--text-brown-hover);
}

#nav-order-button {
    background: var(--red-button);
    color: var(--main-back);
    padding: 8px 14px;
    border-radius: .5rem;
}

#nav-order-button:hover {
    background: var(--red-button-hover);
}

.navbar-toggler {
    border: none;
}

/****** Main ******/

main {
    background: url('img/home-bg.png') no-repeat center;
    background-size: cover;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 12vw;
    border-bottom: 2px solid var(--red-button);
}

.main-heading {
    font-size: 60px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 48px;
}

.main-order-button {
    color: var(--red-button);
    background: #f8edeb88;
    font-size: 32px;
    font-weight: 500;
    border: 2px solid var(--red-button);
    border-radius: .4em;
    margin-bottom: 80px;
    padding: .2em 1em;
    transition: all 200ms;
}

.main-order-button:hover {
    background: var(--red-button);
    color: var(--main-back);
    border-color: var(--red-button-hover);
}

/****** About ******/

.about-section {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 12vw;
}

.about-heading {
    font-size: 40px;
    flex: 2 0;
    text-align: center;
}

.about-desc {
    font-size: 24px;
    font-style: italic;
    flex: 3 0;
}


/****** Footer ******/

footer {
    background: #403d39;
    height: 300px;
    padding: 60px 8vw;
}


/****** Media Queries ******/

@media (min-width: 992px) {

    #navbarNavDropdown {
        padding-top: 0;
    }

    .nav-item {
        padding-left: 2rem;
    }

    .navbar {
        padding: 40px 60px;
    }

    .nav-cart-main {
        display: block;
    }

    .nav-cart-collapse {
        display: none;
    }

    .main-heading {
        font-size: 70px;
    }

    .about-section {
        flex-direction: row;
    }
}

@media (min-width: 1200px) {

    .navbar {
        padding: 40px 100px;
    }

    .nav-item {
        padding-left: 4rem;
    }

    main {
        padding: 0 12vw;
    }

    .main-heading {
        font-size: 84px;
    }

    .main-order-button {
        font-size: 36px;
    }
}