:root {
    --main-back: #f8edeb;
    --text-brown: #6d597a;
    --text-brown-hover: #540b0e;
    --red-button: #e56b6f;;
    --red-button-hover: #d90429;
}

body {
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
    background: var(--main-back);
    color: var(--text-brown);
}

/****** Navbar ******/

.navbar-nav a {
    color: var(--text-brown);
    font-weight: 500;
}

.navbar {
    padding: 40px 20px;
    border-bottom: 1px solid #fec5bbc5;
}

#navbarNavDropdown {
    padding-top: 2rem;
}

.nav-cart-main {
    display: none;
}

.nav-cart-collapse {
    display: block;
}

.nav-item a {
    padding: 8px 14px;
}

.nav-item a:hover {
    color: var(--text-brown-hover);
}

#nav-order-button {
    background: var(--red-button);
    color: var(--main-back);
    padding: 8px 14px;
    border-radius: .5rem;
}

#nav-order-button:hover {
    background: var(--red-button-hover);
}

.navbar-toggler {
    border: none;
}

/****** Main ******/

main {
    background-image: url('img/home-bg.png');
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 12vw;
}

.main-heading {
    font-size: 60px;
    font-weight: 500;
    text-align: center;
}


/****** Media Queries ******/

@media (min-width: 992px) {

    #navbarNavDropdown {
        padding-top: 0;
    }

    .nav-item {
        padding-left: 2rem;
    }

    .navbar {
        padding: 40px 60px;
    }

    .nav-cart-main {
        display: block;
    }

    .nav-cart-collapse {
        display: none;
    }

    .main-heading {
        font-size: 70px;
    }
}

@media (min-width: 1200px) {

    .navbar {
        padding: 40px 100px;
    }

    .nav-item {
        padding-left: 4rem;
    }

    main {
        padding: 0 12vw;
    }

    .main-heading {
        font-size: 84px;
    }
}